* {
    padding: 0;
    margin: 0;
}

/*divs*/

.calculator {
    position: relative;
    width: 402px;
    height: 652px;
    margin: auto;
    background: linear-gradient(#2C3059,#393E73);
}

.output {
    position: relative;
    width: 402px;
    height: 150px;
}

.layout {
    position: relative;
    width: 402px;
    height: 502px;
    background: linear-gradient(#F2736E,#F04949);
}

.hidden {
    visibility: hidden;
    height: 0;
}

.visible {
    visibility: visible;
    height: 100%;
}

.notetable {
    width: 100%;
    position: absolute;
    bottom: 0;
    overflow-y: auto;
    transition: all 0.5s ease;
}

/*elements*/

input[type = text] {
    background: none;
    border: none;
    color: white;
    font-family: Actor;
    font-size: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
}

input[type = button] {
    background: none;
    color: white;
    font-size: 25px;
    font-family: 'Actor';
    height: 100px;
    width: 100px;
    border-color: rgba(251, 255, 255, 0.1);
    border-style: solid;
    border-width: 1px;
    outline-color: rgba(251, 255, 255, 0.1);
}

.notetable table {
    width: 100%;
    font-family: 'Actor';
    font-size: 25px;
    color: white;
    table-layout: fixed;
}

.notetable th {
    padding: 20px 0;
}

.notetable td {
    text-align: center;
    width: 50%;
    padding-bottom: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: rgba(251, 255, 255, 0.1);
    word-wrap: break-word;
}
